@charset "utf-8";
/* CSS Document */
.hang1{
	height: 1000px;
	background:url("../img/hero-bg (1).png")
}
a1{
	font-family: 'Quicksand', sans-serif;
	font-size: 40px;
	margin-left: 30px;
	color:#0a1e51;
	animation-name: anima1;
	animation-duration: 3s;
}
@keyframes anima1{
	0%{
		opacity: 0;
		margin-left: -100px;
	}
	100%{
		opacity: 1;
		margin-left: 0;
	}
}
a2{
	font-family: 'Quicksand', sans-serif;
	font-size: 40px;
	color:aliceblue;
}
.hang01{
	height: 100px;
}
.nav ul li{
	color: aliceblue;
	list-style: none;
	font-size:22px;
	float:left;
	margin-left: 30px;
	font-family: 'Quicksand', sans-serif;
	margin-top:20px;
	transform: scale(1);
	transition: all 0.3s linear;
}

.nav ul li:hover{
	color: #0A1E51;
	transform: scale(1.1);

